#movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.movie-poster {
    width: 200px;
    height: 300px;
    margin: 10px;
    object-fit: cover;
}

#load-more {
    margin: 20px auto;
    display: block;
    width: 100px;
    height: 30px;
}

