#movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.movie-poster {
    width: 200px;
    height: 300px;
    margin: 10px;
    object-fit: cover;
}

#movie-info {
    font-family: "Roboto", sans-serif;
    font-size: 1.19em;
    margin-left: 10px;
    width: 200px;
}

#load-more {
    margin: 20px auto;
    display: block;
    width: 100px;
    height: 30px;
}

